html, body{
      min-height: 5000px;
      min-width: 100px;

      overflow: auto; // <- this is needed when you resize the screen
      min-height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

    }

section{
display: grid;
  width: 100vw;
  margin-top: 100px;
  margin-left: 5px;
  grid-template-rows: 800px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 500px 200px;}


  h1{
  font-family: Helvetica Neue;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.0;
  -webkit-font-smoothing: antialiased;
      margin-left: 0.5%;
        margin-top: 0.5%;
          position: absolute;
          color: rgb(0, 255, 0)
  }

  .hide-when-narrow {
    display: none;
  }


  br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 22%;
  }

h3{
  font-family: Helvetica Neue;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.3;
      margin-left: 1%;
        margin-top: 0.5%;
          position: absolute;
          color: rgb(0, 255, 0);
display:none;


}

a.Instagram{
    position: absolute;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 70%;
        margin-top: 0.3%;
        color: rgb(0, 255, 0)
}
a.Arena{
    position: absolute;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 84%;
        margin-top: 0.3%;
        color: rgb(0, 255, 0)
}
a.Mail{
    position: absolute;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 95%;
        margin-top: 0.3%;
        color: rgb(0, 255, 0)

}

a:hover {
  color: #FFDAA4;
  text-shadow:0px 0px 30px #FFDAA4;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;}


  a:link {
    text-decoration: none;
  }



  @font-face {
    font-family: "Serifbabe" ;
    src: url("Serifbabe_Regular.ttf");}

  h2{

      font-family: Serifbabe;
  font-weight: 200;
  font-size: 20px;
  margin-top: 4%;
    color: rgb(0, 255, 0);
    text-shadow: 3px 3px 20px white,
        -2px 1px 30px white;
        text-align: center;

  }




  .captionag {

  margin-top: 69%;
  margin-left: 66.0%;
  position: absolute;
  }




  .captionhg {

    font-size: 30px;
    margin-top:60%;
    margin-left: 9.0%;
    position: absolute;

  }



.blur{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  filter: blur(10%);
    -webkit-filter: blur(90px);
    -moz-filter: blur(70px);
    -o-filter: blur(70px);
    -ms-filter: blur(70px);
      transition: ease 0.9s;

    }


.blur:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);

      transition: ease 0.9s;
}





    @media (max-width: 600px) {
h1{font-size: 12px;
}
a.Instagram{  font-size: 12px;
  margin-left: 65%;

}
a.Arena{  font-size: 12px;  margin-left: 83%;

}
a.Mail{  font-size: 12px;
  margin-left: 94%;

}

section{    grid-template-columns: 1fr;
  grid-gap: 100px;}



.blur{  width: 100%;
  height: auto;
  -webkit-filter: blur(0px);


}
}

a.Instagram{
    position: absolute;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 70%;
        margin-top: 0.3%;
        color: rgb(0, 255, 0)
}
a.Arena{
    position: absolute;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 84%;
        margin-top: 0.3%;
        color: rgb(0, 255, 0)
}
a.Mail{
    position: absolute;
  font-family: Helvetica Neue;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 95%;
        margin-top: 0.3%;
        color: rgb(0, 255, 0)

}

a:hover {
  color: #FFDAA4;
  text-shadow:0px 0px 30px #FFDAA4;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;}


  a:link {
    text-decoration: none;
  }



  a {
    color:#000000;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }


h1{
font-family: Helvetica Neue;
font-size: 22px;
letter-spacing: 1px;
font-weight: 400;
line-height: 1.0;
-webkit-font-smoothing: antialiased;
    margin-left: 0.5%;
      margin-top: 0.5%;
        position: absolute;
        color: rgb(0, 255, 0)
}



br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 22%;
}




.blur{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  filter: blur(10%);
    -webkit-filter: blur(90px);
    -moz-filter: blur(70px);
    -o-filter: blur(70px);
    -ms-filter: blur(70px);
      transition: ease 0.9s;

    }


.blur:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);

      transition: ease 0.9s;
}







  html, body{
        min-height: 5000px;
        min-width: 100px;

        overflow: auto; // <- this is needed when you resize the screen
        min-height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;

      }

  section{
display: grid;
    width: 100vw;
    margin-top: 100px;
    margin-left: 10px;
    grid-template-rows: 800px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 500px 200px;}





    @media (max-width: 1023px) {


      a.Instagram{

            margin-left: 68%;
              margin-top: 0.3%;
      }
      a.Arena{

            margin-left: 83.5%;
              margin-top: 0.3%;
      }
      a.Mail{

            margin-left: 94%;
              margin-top: 0.3%;
      }
      .blur{  width: 100%;
        height: auto;
        -webkit-filter: blur(0px);

      }
      img {
          max-width: 48%;
          height: auto;
      }
      section{    grid-gap: 500px 15px;
        margin-left: 5px;
        margin-right: 5px;


    }

    }





@media only screen and (max-width: 992px) {
  .blur{  width: 100%;
    height: auto;
    -webkit-filter: blur(0px);

}
img {
    max-width: 48%;
    height: auto;
}
section{    grid-gap: 500px 15px;
  margin-left: 5px;
  margin-right: 5px;


}
a.Instagram{

      margin-left: 50%;
        margin-top: 0.3%;
}
a.Arena{

      margin-left: 74%;
        margin-top: 0.3%;
}
a.Mail{

      margin-left: 91%;
        margin-top: 0.3%;
}
}



@media (max-width: 768px) {
  a.Instagram{

        margin-left: 52%;
          margin-top: 0.3%;
  }

  a.Arena{

        margin-left: 75%;
          margin-top: 0.3%;
  }
  a.Mail{

        margin-left: 91%;
          margin-top: 0.3%;
  }


@media (max-width: 600px) {

.hide-when-narrow {
  display: block;
}
h1{display: none;}

      br {
        content: "";
        margin: 2em;
        display: block;
        font-size: 59%;
      }

      h3{display: grid;}



a.Instagram, a.Arena, A.Mail, section, h2{     display: none;
}

*{          overflow-x: hidden;
}
