
a.Instagram{
    position: absolute;
  font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 80%;
        margin-top: 0.1%;
}
a.Arena{
    position: absolute;
  font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 88%;
        margin-top: 0.1%;
}
a.Mail{
    position: absolute;
  font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 95%;
        margin-top: 0.1%;
}



p{
font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
font-size: 24px;
font-weight: light;
line-height: 1.2;
-webkit-font-smoothing: antialiased;
    margin-left: 1%;
      margin-top: 0.1%;
        position: absolute;
}
#Algorithmic{
  width: 546px;
  height: 772px;
  margin-top: 10%;
    margin-left: 55%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.8);
   box-shadow: 0 25px 60px rgba(0,0,0,.8);
  position: absolute;
  overflow: hidden;

}


#Hungryghosts{
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 10%;
    margin-left: 5%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.8);
   box-shadow: 0 25px 60px rgba(0,0,0,.8);
  position: absolute;
    overflow: hidden;

}
#Ilyc{
  width: 547px;
  height: 775px;
  margin: auto;
  margin-top: 60%;
    margin-left: 10%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.8);
   box-shadow: 0 25px 60px rgba(0,0,0,.8);
  position: absolute;
  overflow: hidden;


}

.algorithmic-pos{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  filter: blur(10%);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
      transition: ease 0.9s;
    }

  .hungryghosts-pos{
        position: absolute;
        margin-left: 0px;
        margin-top: 0px;
        filter: blur(10%);
          -webkit-filter: blur(50px);
          -moz-filter: blur(50px);
          -o-filter: blur(50px);
          -ms-filter: blur(50px);
            transition: ease 0.9s;
          }

.iloveyourcar-pos{
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  filter: blur(10%);
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
      transition: ease 0.9s;
    }

.algorithmic-pos:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
      transition: ease 0.9s;
}

.hungryghosts-pos:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
      transition: ease 0.9s;
}
.iloveyourcar-pos:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
      transition: ease 0.9s;
}


a:link {
  text-decoration: none;
}



a {
  color:#000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;}

  .av-image-caption-overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    bottom: -20px !important;
    color: black !important;
    height: auto !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    width: auto !important;
  }
