a{
    position: absolute;
  font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
  font-size: 14px;
  font-weight: light;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 80%;
        margin-top: 0.1%;
}
a.Arena{
    position: absolute;
  font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 88%;
        margin-top: 0.1%;
}
a.Mail{
    position: absolute;
  font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
      margin-left: 95%;
        margin-top: 0.1%;
}



p{
font-family: TimesNewRoman,'Helvetica Neue',Times,serif;
font-size: 24px;
font-weight: light;
line-height: 1.2;
-webkit-font-smoothing: antialiased;
    margin-left: 1%;
      margin-top: 0.1%;
        position: absolute;
}
#wrapper-sc{
  width: 546px;
  height: 772px;
  margin: auto;
  margin-top: 10%;
    margin-left: 55%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.8);
   box-shadow: 0 25px 60px rgba(0,0,0,.8);
  position: absolute;
  overflow: hidden;
}

#hungryghostswr-hg{
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 10%;
    margin-left: 5%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.8);
   box-shadow: 0 25px 60px rgba(0,0,0,.8);
  position: absolute;
  overflow: hidden;
}
#iloveyourcar-hg{
  width: 456px;
  height: 646px;
  margin: auto;
  margin-top: 60%;
    margin-left: 15%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.3);
  box-shadow: 0px 40px 80px -20px rgba(0,0,0,0.8);
   box-shadow: 0 25px 60px rgba(0,0,0,.8);
  position: absolute;
  overflow: hidden;
}
.edges-sc{
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -200px;
  filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
}

    .edges-hg-sc{
      position: absolute;
      left: 50%;
      margin-left: -350px;
      top: 50%;
      margin-top: -200px;
      filter: blur(10px);
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
}
.edges-hg-il{
  position: absolute;
  left: 50%;
  margin-left: -350px;
  top: 50%;
  margin-top: -200px;
  filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);

}

.background-sc{
  position: absolute;
  left: 64.0%;
  margin-left: -350px;
  top: 25.9%;
  margin-top: -200px;
 filter: blur(5px);
  webkit-filter: blur(30px);
      transition: ease 0.9s;}

      .hungryghosts-hg{
        position: absolute;
        left: 58.30%;
        margin-left: -350px;
        top: 33.0%;
        margin-top: -200px;
      filter: blur(5px);
  webkit-filter: blur(30px);
            transition: ease 0.9s;
}
.iloveyourcar-hg{
  position: absolute;
  left: 77.00%;
  margin-left: -350px;
  top: 31%;
  margin-top: -200px;
  filter: blur(5px);
  webkit-filter: blur(30px);
      transition: ease 0.9s;



}
.background-sc:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
      transition: ease 0.9s;
}

.hungryghosts-hg:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
      transition: ease 0.9s;
}
.iloveyourcar-hg:hover{
   filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
      transition: ease 0.9s;
}


a:link {
  text-decoration: none;
}



a {
  color:#000000;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a:hover {
  color: #fdec6e;
  text-shadow:0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
